<header>
        <div class="header all">
            <div class="header logo">
                <a href="">
                    <img src="./img/LogoTacosDeGuisado.jpg">
                    </img>
                </a>
            </div>
            <div class="menu">
                <a href="/menu">Menu</a>
                <a href="#foto-de-tacos"> Fotos</a>
                <a href="#ubicacion">Ubicacion</a>
                <a href="#contacto">Contacto</a>
            </div>
            <div class="abrir-sidebar" onclick="abrirSideBar()">
                <ion-icon name="menu-outline" ></ion-icon>
            </div>
        </div>
        <div class="header-all-sidebar">
            <div class="cerrar-sidebar" onclick="cerrarSideBar()">
                <ion-icon class="close-outline" name="close-outline"></ion-icon>
            </div>
            <div class="header-logo-dos">
                <a href="">
                    <img src="/img/LogoTacosDeGuisado.jpg">
                    </img>
                </a>
            </div>
            <div class="menu">
                <a href="/menu">Menu</a>
                <a href="#foto-de-tacos"> Fotos</a>
                <a href="#ubicacion">ubicacion</a>
                <a href="#contacto">Contacto</a>
            </div>
        </div>
    </header>
